@mixin standard(
    $background: var(--color-dark), 
    $color: var(--color-light), 
    $padding: 1rem 2rem, 
    $border-radius: 0px, 
    $font-size: var(--font-size-1),
    $hover-background: var(--color-dark), 
    $hover-color: var(--color-light),
    ){
        
    background-color: $background;
    color: $color;
    display: inline-block;
    text-decoration: none;
    padding: $padding;
    border-radius: $border-radius;  
    font-size: $font-size;
    font-family: var(--font-sans);
    font-weight: 600;
    border: 0;
    cursor: pointer;

    &:hover {
        background-color: $hover-background;
        color: $hover-color;
    }
}


