@mixin small() {
    font-size: var(--font-size-2);
    font-weight: 600;

    &::after {
        content: '';
        width: 50px;
        height: 2px;
        background-color: var(--color-dark);

        // Gör att sträcket lägger sig under rubriken
        display: block;
        margin: 1rem 0;
    }
    
}


@mixin large {
    font-size: var(--font-size-3);
    font-weight: 600;

    // För att sträcket ska hamna på sammarad som rubriken
    display: flex;
    align-items: center;
    &::before {
        content: '';
        width: 50px;
        height: 2px;
        background-color: var(--color-dark);
        display: block;
        margin: 0 2rem 0 0;
    }
}