.site-header {
    // Headern placeras ovanpå hero sektionen, med position, top, left och width
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--menu-height);
    display: grid;
    grid-template-columns: var(--grid-container);
    z-index: 999;

    &__inner {
        grid-column: inner;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__buttons {
        display: flex;
        align-items: center;
    }
}

.languages {
    margin-right: 4rem;

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    &__item {
        font-weight: 200;
        color: var(--color-light);

        &::after {
            content: '/';
            margin: 0.25rem;
        } 

        &:last-of-type {
            &::after {
                display: none;
            }
        }

        &--current {
            font-weight: 600;
        }
    }

    &__link {
        color: var(--color-light);
    }
}