@use '../components/_title';

.hero {
    background-color: #333; // TEMP
    background-image: url(assets/images/hero@2x.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--grid-container);
    position: relative;

    // Overlay
    &::before {
        content: '';
        display: block;
        position: absolute;
        background-color: var(--color-dark);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.4;
    }

    // Sidlist
    &::after {
        content: '';
        position: absolute;
        background-color: var(--color-light);
        right: 0;
        width: 100px;

        // top och bottom ger en automatisk höjd
        top: 0;
        bottom: 0;
    }

    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-content);
        gap: var(--grid-gap);
        align-items: center;
    }

    &__content {
        position: relative;
        z-index: 999;
        grid-column: wide;
        max-width: var(--content-width);
        width: 100%;
        color: var(--color-light);
    }

    &__title {
        font-weight: 200;

        // Texten är responsiv, startar förminskning av titel vid 950px 
        // och fortsätter att förminskas fram till 400px (använt clamp generator)
        font-size: clamp(2rem, -0.5455rem + 10.1818vw, 5.5rem);
        max-width: var(--content-width);

        // Radhöjden dividerat på font-storleken i XD, ger oss radavståndet (line-height) i CSS
        line-height: 1.1;
        margin: 0;
    }

    &__ingress {
        max-width: var(--content-width-small);
    }
}

.slider {

    &__pagination {
        position: absolute;
        background-color: var(--color-dark);
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }

    &__arrow {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__meta {
        display: flex;
        color: var(--color-light);
        font-weight: 200;
    }

    &__counter {
        display: flex;
        align-items: center;

        strong {
            &::after {
                content: '/';
                margin: 0 0.25rem;
            }
        }

        &::after {
            content: '';
            display: block;
            width: 2rem;
            height: 2px;
            background-color: var(--color-light);
            margin: 0 1rem;
        }
    }

    &__description {
        position: absolute;
        background-color: var(--color-light);
        right: 0;
        bottom: 0;
        max-width: 580px;
        width: 100%;
       padding: 4rem 9rem 4rem 5rem;
        z-index: 1001;

    }

    &__title {
        @include title.small;
        line-height: 1.5;
    }

    &__text {
        margin: 0;
        font-size: var(--font-size-small);
        font-weight: 200;
        line-height: 2;
    }
}