.menu-button {
    display: block;
    width: 36px;
    height: 20px;
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    position: relative;
    cursor: pointer;

    &__hamburger {
        height: 2px;
        width: 100%;
        background-color: var(--color-dark);
        position: relative;

        &::before, &::after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            right: 0;
            height: 2px;
            background-color: inherit;
            top: -8px;
            transition: all 0.2s;
        }

        &::after {
            top: 8px;
            width: 66%;
        }
    }

    &--active {
        .menu-button__hamburger {
            &::after, &::before {
                top: 0;
            }
        }
    }

}

.site-menu {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    transform: translateX(100%);
    transition: all 0.4s;
    background-color: var(--color-light);
    display: grid;
    grid-template-columns: var(--grid-container);
    // margin-top: 90px;

    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-content);
        gap: var(--grid-gap);
    }

    &__img {
        grid-column: 1/6;
        // margin: 90px 0 0 0;
        position: relative;
        transform: translateX(calc(-100% + -130px));
        opacity: 0;
        max-width: 400px;
        max-height: 600px;
        display: flex;
        // justify-content: center;
        align-items: center;
        
        &::after {
            content: '';
            width: 200px;
            position: absolute;
            top: 150px;
            bottom: 80px;
            right: 0;
            background-color: var(--color-dark);
            z-index: -1;
        }


    }

    .menu {
        display: flex;
        align-items: center;
        grid-column: 8/12;

        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            opacity: 0;
            transform: translateY(100px);
        }

        &__item {
            margin: 1rem 0;

            &--current {
                .menu__link {
                    color: var(--color-dark);
                    font-weight: 600;
                }

            }
        }

        &__link {
            font-size: var(--font-size-4);
            font-weight: 200;
            color: var(--color-light-medium);

            &:hover {
                color: var(--color-medium);
            }
        }

        &__count {
            color: var(--color-light-medium);
            margin-right: 1rem;
            font-weight: 600;
        }

    }

    .social {
        position: absolute;
        right: 30px;
        bottom: 30px;
        opacity: 0;
        transform: translateX(100%);

        &__list  {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            gap: 2rem;
        }

        &__item {
            display: flex;
            align-items: center;
            &:first-of-type {
                &::before {
                    content: '';
                    width: 50px;
                    height: 2px;
                    background-color: var(--color-dark);
                    display: block;
                    margin: 0 2rem 0 0;
                }
            }
        }

        &__link {
            color: var(--color-dark);
        }

    }

    &--visible {
        transform: translateX(0);

        .site-menu__img {

            // bilden glider in först
            transform: translateX(0);
            transition: all 0.4s 0.3s; // animationen sker 0.4s efter att du har klickat på menyn
            opacity: 1;

            // sedan kommer det svarta objektet i bakgrunden 
            &::after {
                right: -100px;
                transition: 0.4s 0.6s;
            }
        }

        .menu {
            &__list {
                opacity: 1;
                transform: translateY(0);
                transition: transform 0.4s 0.6s, opacity 0.6s 0.8s;
            }
        }
        
        .social {
            opacity: 1;
            transform: translateY(0);
            transition: transform 0.4s 0.8s, opacity 0.6s 1s;
        }
    }
    
}